{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'user_pages/css/desk-space.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <meta content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Доска</title>
</head>
<body>
{% if request.session.user %}
    <header class="main_page">
            <h1 class="logo">DONE</h1>
            <!--<select class="rp" name="workspace" id="workspace">
                <optgroup  class="rp" label="Рабочие пространства">
                    <option value="option1">Рабочее пространство 1</option>
                    <option value="option2">Рабочее пространство 2</option>
                </optgroup>
            </select>-->
            <button class = "voiti" type="button" name="button"><a href="{% url 'logout_user' %}">Выйти</a></button>
<button class = "voiti" type="button" name="button"><a href="{% url 'desk' id_ws %}">Вернуться в рабочее пространство</a></button>

    </header>
    <hr class="header-hr">
    <div class="container">
        <div class="sidebar">
            <div class="options">
                <h3 class="sign">Мои доски</h3>
                {% for desk in Desks %}
                    <h5 class="sign">{{desk.desk_name}}</h5>
                {% endfor %}
                <h3 class="sign">Сроки</h3>
                    <ul>
                        <li><img class="icon" src="{% static 'user_pages/img/green-arrow.png' %}" alt="">Предстоящие</li>
                        <li><img class="icon" src="{% static 'user_pages/img/yellow-arrow.png' %}" alt=""> Срочные</li>
                        <li><img class="icon" src="{% static 'user_pages/img/red-arrow.png' %}" alt=""> Просроченные</li>
                        <li><img class="icon" src="{% static 'user_pages/img/empty-arrow.png' %}" alt=""> Выполненные</li>
                    </ul>
            </div>
        </div>
        <div class="main-content">
            <h2 class="sign">{{desk_name}}</h2>
                <div id="board" class="columns-container">









                    {% if Lists %}
                    {% for list in Lists%}
                    <div class="column">
                        <div class="list-head">
                            <h4 class="sign">{{list.name}}</h4>
                             <div class="dropdown">
                                <button class="dropbtn"><img src="{% static 'user_pages/img/dots.png' %}" alt=""></button>
                                <div class="dropdown-content">
                                  <a href="#popup-change{{list.id}}">Редактировать</a>
                                  <a href="#popup-replace{{list.id}}">Переместить</a>
                                  <a href="{% url 'deletelist' id_ws desk_id list.id %}">Удалить</a>
                                </div>
                             </div>
                        </div>

                        <div id="popup-change{{list.id}}">
                            <div id="window-change{{list.id}}">
                                <a href="#" class="close"><img src="{% static 'user_pages/img/close.png' %}" alt=""></a>
                                <h4 class="sign">Редактировать</h4>
                                <form method="post" action="">
                                    <input class="input-text" type="text" name = "name" id="input-name" placeholder="Название">
                                    <input class="input-text" type="text" name = "name" id="input-desc" placeholder="Описание">
                                    <button class = "type-1" type="submit" name="button">Сохранить</button>
                                </form>
                            </div>
                        </div>

                        <div id="popup-replace{{list.id}}">
                            <div id="window-replace{{list.id}}">
                                <a href="#" class="close"><img src="{% static 'user_pages/img/close.png' %}" alt=""></a>
                                <h4 class="sign">Переместить список "название"</h4>
                                <form method="post" action="">
                                    <label for="desks">Название доски
                                      <select id="desks" name="desks">
                                        <option value="#">Первая</option>
                                        <option value="#">...</option>
                                        <option value="#">...</option>
                                      </select>
                                    </label>
                                    <label for="lists">Название списка
                                      <select id="lists" name="lists">
                                        <option value="#">Первый</option>
                                        <option value="#">...</option>
                                        <option value="#">...</option>
                                      </select>
                                    </label>
                                    <label for="number">Номер в списке
                                      <select id="number" name="number">
                                        <option value="first">1</option>
                                        <option value="second">2</option>
                                        <option value="third">3</option>
                                      </select>
                                    </label>
                                    <button class = "type-1" type="submit" name="button">Сохранить</button>
                                </form>
                            </div>
                        </div>
                    <!--
                        <div id="inputContainer">
                          <input type="text" id="inputField">
                          <button id="saveButton">Сохранить</button>
                        </div>
                      -->

                        <div id="popup-overlay{{list.id}}">
                            <div id="window{{list.id}}">
                                <a href="#" class="close"><img src="{% static 'user_pages/img/close.png' %}" alt=""></a>
                                <h4 class="sign">Новая карточка</h4>
                                <form method="post" action="{% url 'createcard' id_ws desk_id list.id %}">
                                    {% csrf_token %}
                                 <input class="input-text" type="text" name = "name" id="input" placeholder="Название">
                                <button class = "type-1" type="submit" name="button">Создать</button>
                                    </form>
                            </div>
                        </div>

                        <a href="#popup-overlay{{list.id}}" id="addCardButton" class="link-create-new">Добавить карточку</a>
                        {% if Tasksinlists %}
                        {% for temp in Tasksinlists %}
                        {% for task in temp %}
                        {% if task.list_id == list.id %}
                        <a href="#popup-exist-card{{task.id}}" class="exist-card">

                            <div class="view-card">
                                <div class="color" style="background-color: {{ header_color }};">
                                    <div class="list-head">
                                        {% if task.deadline %}
                                        <span>{{task.dedline}}</span>
                                        {% endif %}
                                        <div class="dropdown">
                                            <button class="dropbtn"><img src="{% static 'user_pages/img/dots.png' %}" alt=""></button>
                                            <div class="dropdown-content">
                                              <a href="#">Переместить</a>
                                              <a href="{% url 'deletetask' id_ws desk_id task.id %}">Удалить</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="main-part">
                                    <span>{{task.name}}</span>
                                </div>
                            </div>

                        </a>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}

                        {% if Tasksinlists %}
                        {% for temp in Tasksinlists %}
                        {% for task in temp %}
                        {% if task.list_id == list.id %}
                        <div id="popup-exist-card{{task.id}}">
                            <div id="window-card{{task.id}}">

                                <a href="#" class="close"><img src="{% static 'user_pages/img/close.png' %}" alt=""></a>

                                <div class="cover"></div>

                                <div class="main-card-part">
                                    <div class="main-card-content">
                                        <div class="card-header"></div>
                                        <h3>{{task.name}}</h3>
                                        <h4>Описание</h4>
                                        <h5 class="descript">{{task.desc}}

                                        </h5>
                                        <button>Показать ещё</button>
                                        <button>Скрыть</button>
                                        <h5>"Дедлайн"</h5>
                                        <h5>Метки</h5>
                                        <div class="label">
                                            <h5>Название метки</h5>
                                        </div>
                                        {% if CheckLists %}
                                        {% for temp in CheckLists %}
                                        {% for checklist in temp %}
                                        {% if checklist.task_id == task.id %}
                                        <ul class="checklist">
                                            <div class="button-group">
                                                <h4>{{checklist.name}}</h4>
                                                <div class="buttons">
                                                    <button class="checklist-button">Редактировать</button>
                                                    <button class="checklist-button"><a href="">Удалить</a></button>
                                                </div>
                                            </div>
                                            <div class="chekbox-points">
                                                {% if ActionList %}
                                                {% for temp in ActionList %}
                                                {% for action in temp %}
                                                {% if action.cl_id == checklist.id %}
                                                <li>
                                                  <label>
                                                    <input class="checkbox-input" type="checkbox">
                                                    Пункт 1
                                                  </label>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}
                                                {% endif %}
                                            <!-- Добавьте дополнительные пункты чек-листа -->
                                            </div>

                                            <div class="dropdown-checklist-button">
                                                <button style="margin-left: 1em" class="dropbtn-checklist-button">Добавить пункт</button>
                                                <div class="dropdown-content-checklist-button">
                                                    <form class="form" method="post" action="{% url 'createaction' id_ws desk_id checklist.id %}">
                                                        {% csrf_token %}
                                                        <input class="input-text" type="text" name = "label-name" id="input-point-name{{checklist.id}}" placeholder="Название">
                                                        <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                    </form>
                                                </div>
                                            </div>

                                          </ul>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="sidebar-content">
                                        <h5>Связанные карточки</h5>
                                            <a style="margin-left: 10px" href="">Карточка 1</a>
                                            <a style="margin-left: 10px" href="">Карточка 2</a>
                                            <div class="dropdown-checklist-button">
                                                    <button class="dropbtn-checklist-button">Привязать карточку</button>
                                                    <div class="dropdown-content-checklist-button">
                                                        <form class="form" method="post" action="">
                                                            {% csrf_token %}
                                                            <label>
                                                                <input type="checkbox" name="languages" value="">
                                                                Название карточки
                                                            </label>
                                                            <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                        </form>
                                                    </div>
                                            </div>
                                        <h5>Добавить на карточку</h5>
                                            <div class="dropdown-checklist-button">
                                                <button class="dropbtn-checklist-button">Участники</button>

                                                    <div class="dropdown-content-checklist-button">
                                                    <form class="form" method="post" action="">
                                                        {% csrf_token %}
                                                        <label>
                                                            <input type="checkbox" name="languages" value="">
                                                            Имя участника (почта участника)
                                                        </label>
                                                        <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                    </form>
                                                    </div>

                                            </div>

                                            <div class="dropdown-checklist-button">
                                                <button class="dropbtn-checklist-button">Метки</button>
                                                <div class="dropdown-content-checklist-button">
                                                    <form class="form" method="post" action="">
                                                        {% csrf_token %}
                                                        <input class="input-text" type="text" name = "label-name" id="input-label-name{{task.id}}" placeholder="Название">
                                                        <label style="display: flex;">Цвет</label>
                                                        <div class="choose-color">
                                                           <input style="background-color: #FF0000;" type="radio" id="FF0000" name="color" value="FF0000" class="color-radio" data-color="#FF0000">
                                                        </div>
                                                        <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="dropdown-checklist-button">
                                                <button class="dropbtn-checklist-button">Дедлайн</button>
                                                <div class="dropdown-content-checklist-button">
                                                    <form class="form" method="post" action="{% url 'getdeadline' id_ws desk_id task.id %}">
                                                        {% csrf_token %}
                                                        <input type="date" class="form-control w-25" id="input_value3{{task.id}}" name="date"><br>
                                                        <label for="time{{task.id}}">Время: </label>
                                                        <input type="time" id="time{{task.id}}" name="time"/>
                                                        <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="dropdown-checklist-button">
                                                    <button class="dropbtn-checklist-button">Чек-лист</button>
                                                    <div class="dropdown-content-checklist-button">
                                                        <form class="form" method="post" action="{% url 'createchecklist' id_ws desk_id task.id %}">
                                                            {% csrf_token %}
                                                            <input class="input-text" type="text" name = "label-name" id="input-checklist-name{{task.id}}" placeholder="Название">
                                                            <button class = "type-1" type="submit" name="button">Сохранить</button>
                                                        </form>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}

                </div>
                    {% endfor %}
                    {% endif %}
             <div class="column">
                 <a href="#popup-list" id="addListButton{{desk_id}}" class="link-create-new">Добавить список</a>
                 <div id="popup-list{{desk_id}}">
                            <div id="window-list{{desk_id}}">
                                <a href="#" class="close"><img src="{% static 'user_pages/img/close.png' %}" alt=""></a>
                                <h4 class="sign">Новый список </h4>
                                <form method="post" action="{% url 'createlist' id_ws desk_id %}">
                                    {% csrf_token %}
                                <input class="input-text" type="text" name = "name" id="input-list" placeholder="Название">
                                <button class = "type-1" type="submit" name="button">Создать</button>
                                    </form>
                            </div>
                 </div>
             </div>
        </div>
    </div>





        {% else %}
    <h1>У вас нет доступа к данной странице,  зарегестрируйтесь или войдите в аккаунт</h1>
    {% endif %}
</body>
</html>