*/////////////////////////////////////////////////////////////////////////////////////
/////////////ГЛАВНАЯ СТРАНИЦА///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////*/

/*////////ВЕРСИЯ ДЛЯ КОМПЬЮТЕРА////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  /*-----------------ХЕДЕР----------------*/
  header.main_page{
    position: static;
    display: block;
    z-index: 0;
  }

  hr.header-hr{
    position: absolute;
    top: 4em;
    height: 0.063em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: inherit;
  }

  header img{
    position: absolute;
    top: 0.938em;
    left: 10.188em;
    z-index: inherit;
  }

  header button.voiti{
    position: absolute;
    top: 0.938em;
    float: right;
    right:  10.188em;
    z-index: inherit;
  }
  /*--------------------------------------*/

  /*-------------ОСНОВНОЙ БЛОК------------*/
  main{
    position: static;
  }
      /*--------Заголовок и текст---------*/
      div.title-h1 {
        z-index: 1;
        position: relative;
        display: block;
        top: 6.5em;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }

      div.text{
        position: relative;
        display: block;
        z-index: 1;
        top: 4em;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
      /*-----------------------*/
      /*--------Задний фон---------*/
      div.background_image {
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 43.188em;
        z-index: 0;
      }
          /*-----------BUTTON------------*/
          div.start-work button.type-1{
            position: absolute;
            z-index: 1;
            top: 19.5em;
            left: 51%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
          }
          /*----------------------------------*/
      div.conteiner_for_slaider{
        position: relative;
        display: block;
        z-index: 1;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        top: 19.813em;
      }
      div.circle-pink{
        position: absolute;
        z-index: 2;
        top: 41em;
        left: 9em;
        /*----------ДВИжЕНИЕ----------*/
          offset-path: path('M54 656C62.227 657.028 68.43 671.429 74.4444 676C90.6317 688.302 105.104 703.035 119 718C124.907 724.362 135.055 728.02 141.889 734C147.885 739.247 154.759 742.453 161.111 747.111C178.293 759.711 198.058 769.065 217.556 777.556C277.088 803.481 341.644 822 407.111 822C440.424 822 475.068 822.944 508 817.556C522.894 815.118 537.943 812.305 552.444 808C564.794 804.334 578.445 795.058 591.222 794.111C625.045 791.606 653.233 774.375 683.111 759.889C720.642 741.692 753.687 721.316 785.556 694C814.023 669.599 845.182 647.639 875.556 625.667C906.356 603.386 946.352 589.15 984 584.444C997.7 582.732 1012.35 578.248 1026 578C1040.8 577.731 1056.4 576.975 1070.44 572C1088.28 565.682 1109.29 556.41 1120 539C1135.37 514.023 1144.47 487.926 1156.44 461.111C1163.07 446.28 1165.53 425.057 1167.56 408.889C1169.43 393.918 1168 378.085 1168 363C1168 284.116 1070.78 254.011 1010.44 230C977.33 216.822 945.446 195.144 918.444 172C888.334 146.191 872.681 110.681 845 83C817.364 55.3643 786.59 43.4663 751 30C706.549 13.1808 658.181 2 610.444 2C564.187 2 519.451 0.109089 475.111 14.8889C436.296 27.8273 401.009 51.7609 367.556 74.8889C351.118 86.2529 333.857 101.515 320.222 116.222C300.908 137.056 280.256 155.345 263.111 178C226.778 226.011 186.958 272.738 142.222 313C126.158 327.458 112.169 343.536 95 356.889C79.429 369 62.4871 380.025 46.4444 391.556C31.2675 402.464 18.854 409.832 11 427.111C3.56106 443.477 1.00585 470.538 2.1111 488.222C3.95886 517.786 6.29163 549.897 16 578C22.6455 597.237 31.283 623.505 45.7778 638C50.5515 642.774 59.2103 648.451 62.7778 654C67.109 660.737 69.7697 662.779 60 664');
          animation: move 70s linear infinite;
        }

          @keyframes move {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
            }
          }
        /*-----------------------*/
        div.circle-orange{
          position: absolute;
          z-index: 0;
          /*----------ДВИжЕНИЕ----------*/
          offset-path: path('M1086.24 109.293C1082.03 108.826 1078.31 103.101 1075.52 100.308C1070.58 95.3731 1065.62 91.2965 1060.47 86.3435C1047.79 74.1291 1031.72 65.299 1017.06 55.816C1000.63 45.1833 975.874 35.0317 956.549 31.3507C944.237 29.0056 934.115 23.83 921.258 23.5565C906.247 23.2371 892.565 16.3013 877.74 15.7622C862.7 15.2153 848.078 8.94857 832.815 7.75145C810.294 5.9851 789.3 2.12227 766.672 2.12227C736.364 2.12227 702.972 1.66669 673.141 6.99368C660.368 9.27457 647.092 7.822 634.17 9.48351C617.885 11.5772 601.967 14.9056 585.564 15.8705C553.381 17.7636 521.307 29.2361 491.058 39.145C457.281 50.2099 420.663 56.4554 388.434 71.8375C365.652 82.7108 340.622 91.6804 319.477 105.396C305.819 114.255 292.948 124.31 278.449 131.81C256.894 142.959 237.17 157.453 219.234 173.596C193.23 196.999 162.738 214.939 137.719 239.414C116.813 259.865 88.1178 271.937 69.0862 293.974C59.8468 304.672 49.6797 312.691 41.8063 324.501C35.3207 334.23 29.2824 344.676 25.2435 355.895C16.1389 381.185 7.73008 406.202 3.80931 432.863C-1.46536 468.731 9.35444 500.971 25.7848 532.132C41.1456 561.264 57.582 582.973 89.4379 594.919C103.515 600.198 120.307 606.37 135.229 608.126C150.195 609.886 164.055 617.414 179.072 619.817C203.621 623.745 230.522 645.63 249.328 660.953C274.595 681.541 296.746 705.91 322.399 725.905C337.66 737.8 350.467 752.182 367.216 762.603C390.724 777.23 415.882 789.177 441.695 799.085C467.673 809.056 492.16 818.095 519.096 825.39C544.968 832.397 570.208 837.13 596.93 840.871C640.446 846.963 689.06 846.618 732.572 840.871C782.101 834.329 828.032 813.701 862.152 777.651C873.506 765.654 883.248 751.372 890.622 736.622C900.162 717.542 915.466 701.816 926.454 683.687C945.15 652.838 966.859 625.461 994.546 602.388C1017.44 583.311 1038.1 564.382 1063.83 548.586C1089.89 532.58 1113.66 522.047 1132.57 497.057C1152.24 471.068 1154.44 435.489 1154.44 404.176C1154.44 381.085 1153.52 355.101 1149.35 332.404C1144.65 306.835 1136.06 282.056 1132.89 256.193C1128.45 219.9 1111.23 186.912 1101.93 152.053C1098.75 140.11 1094.92 127.124 1088.18 116.655C1082.68 108.087 1078.44 104.393 1078.44 93.7048');
          animation: move 70s linear infinite;
          }
          /*-----------------------*/

      hr.main-block-hr{
        position: relative;
        z-index: 1;
        top: 4.313em;
      }

      div.rectangle-45-position{
          position: relative;
          display: inline-flex;
          top: 3.45em;
          left: 4.5em;
      }

          div.rectangle-45-1{
            position: inherit;
            z-index: 1;
          }

          div.rectangle-45-2{
            position: inherit;
            z-index: 1;
            left: 15.5em;
          }

          div.rectangle-45-3{
            position: inherit;
            z-index: 1;
            left: 31em;
          }

          div.rectangle-45-4{
            position: inherit;
            z-index: 1;
            left: 46.3em;
          }

      div img.main-slider-img-1{
        float: left;
        z-index: 1;
        top: 3.375em;
      }


      div.slider-block_text{
        position: relative;
        top: 6.8em;
        right: 3.125em;
        z-index: 1;
        float: right;
      }
/*--------------------------------------*/

/*////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////
/////////////СТРАНИЦА ВХОДА///////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////*/
    img.logo-reg{
      position: absolute;
      display: block;
      top: 10em;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    img.background-image-reg{
      position: absolute;
      display: block;
      top: 35em;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    div.block-reg{
      position: absolute;
      display: block;
      top: 16.4em;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 50em;
    }

    div.tab{
       display: flex;
       flex-direction: row;
       width: 100%;
}


    button.tab{
      position: relative;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    div.conteiner-for-registration{
      position: inherit;
      width: 80%;
    }

    input.input-text{
      position: relative;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    button.proceed{
      position: relative;
      margin-top: 1.25em;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

.error_message{
  text-align: center;
  padding: 50px;
}

}